<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: blue;
    }
    h1 {
        color: black;
        padding: 60px;
    } 
    </style>
 
<body>
    <h1>LOCURA</h1>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7712c9e6-3ff3-4020-8b95-67eb7c1b0268/d9hrmif-bc08cdc6-380a-4743-b276-6f4b7210357b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc3MTJjOWU2LTNmZjMtNDAyMC04Yjk1LTY3ZWI3YzFiMDI2OFwvZDlocm1pZi1iYzA4Y2RjNi0zODBhLTQ3NDMtYjI3Ni02ZjRiNzIxMDM1N2IuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UaDFt38roJ6t5KriapwQ3pWT2yXIcOneY4sgZM1JAt8" alt="Descripción de la imagen" />
</body>
</html>
